body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 45%;
  margin: 20px;
  float: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

th, td {
  border: 1px solid #999;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
